<div id="container">

    <% @pictures.each do |p|%>
    <br>
    <div id="all-posts">
      title: <%= p.title %>
      <br>
      description: <%= p.description %>
      <br>

      <%= link_to "Show", p %>
      <%= link_to "edit", edit_picture_path(p) %>
      <%= link_to "Delete", picture_path(p), method: :delete, data: { confirm: "are you sure?" } %>
    </div>
    <br>
    <% end %>

</div>
