
<div class="text-color ">

  <%= form_for @picture do |f| %>

  <div class="form ">

    <h1>Create New POST!</h1> <br><br><br>

      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %><br>
      <br>
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %><br>
      <br>
      <%= f.button :submit, class: "btn btn-primary"  %><br>

    <% end %><br>

    <%= link_to "back", @picture %>
  </div>
</div>
