<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <a><%= link_to "Instagram", authenticated_root_path, class: "navbar-brand" %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a><%= link_to "Create new post", new_picture_path, class: "nav-item nav-link active" %> <span class="sr-only">(current)</span></a>
          <a><%= link_to "Settings", edit_user_registration_path, class: "nav-item nav-link active" %></a>
          <a><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link active" %></a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
      </div>
    </nav>
    </div>
    <% end %>

    <p class="error"><%= notice %></p>
    <p class="error"><%= alert %></p>
    <%= yield %>
  </body>
</html>
